{port_specs, [
	{"../../priv/eNifLock.so", ["*.cc"]}
]}.

{port_env, [
	{"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)", "CXXFLAGS", "$CXXFLAGS -static -O3 -DNDEBUG $FLTO_FLAG -std=c++11"},
	{"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)", "LDFLAGS", "$LDFLAGS $FLTO_FLAG -static"},
	{"win32|windows", "CXXFLAGS", "$CXXFLAGS /O2 /DNDEBUG"}
]}.



