{port_specs, [
	{"../../priv/eNifLock.so", ["*.cc"]}
]}.

{port_env, [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|gnu)", "CXXFLAGS", "$CXXFLAGS -O3 -DNDEBUG -fPIC -std=c++20 -fvisibility=hidden -fvisibility-inlines-hidden -fno-exceptions -fno-rtti -fno-strict-aliasing -ffunction-sections -fdata-sections -flto -fno-semantic-interposition $EXTRA_CXXFLAGS"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|gnu)", "LDFLAGS", "$LDFLAGS -shared -pthread -Wl,-O1 -Wl,--as-needed -Wl,--gc-sections -flto $EXTRA_LDFLAGS"},

    {"darwin", "CXXFLAGS", "$CXXFLAGS -O3 -DNDEBUG -fPIC -std=c++20 -fvisibility=hidden -fvisibility-inlines-hidden -fno-exceptions -fno-rtti -fno-strict-aliasing -ffunction-sections -fdata-sections -flto=thin $EXTRA_CXXFLAGS"},
    {"darwin", "LDFLAGS", "$LDFLAGS -dynamiclib -undefined dynamic_lookup -dead_strip -flto=thin $EXTRA_LDFLAGS"},

    {"win32|windows", "CXXFLAGS", "$CXXFLAGS /O2 /DNDEBUG /GL /Gy /std:c++20 /GR- /Oi /Zc:inline $EXTRA_CXXFLAGS"},
    {"win32|windows", "LDFLAGS", "$LDFLAGS /LTCG /INCREMENTAL:NO /OPT:REF,ICF $EXTRA_LDFLAGS"}
]}.


